/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    #d73535,
    #781f00,
    #9d2802
      /*var(--ifm-color-primary-lightest),
    var(--ifm-color-primary-darkest),
    var(--ifm-color-primary-lightest)*/
  );
}

.bannerText {
  margin: auto;
}

.bannerImage {
  border-radius: 4px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
}

.hero__title {
  white-space: nowrap;
}
